.menuItem {
	/*border: solid red 5px;*/
	overflow: auto;
}

.header {
	text-align: center;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 5px solid blue;
	text-align: center;
	vertical-align: auto;
	padding-top: 13%;
	margin: auto;
}

.info {
	padding: 50px;
}

.hidden {
	visibility: hidden;
}